<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.markusdamm.pokerapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerManagement"
            android:label="@string/title_activity_player_management"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".EveningManagement"
            android:label="@string/title_activity_evening_management"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".SocietyManagement"
            android:label="@string/title_activity_society_management"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".Statistic"
            android:label="@string/title_activity_statistic">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".NewEvening"
            android:label="@string/title_activity_new_evening"
            android:parentActivityName=".EveningManagement">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.EveningManagement" />
        </activity>
        <activity
            android:name=".DatePickerActivity"
            android:label="@string/title_activity_date_picker" />
        <activity
            android:name=".LocationManagement"
            android:label="@string/title_activity_location_management"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".SingleEvening"
            android:label="@string/title_activity_single_evening"
            android:parentActivityName=".EveningManagement">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.EveningManagement" />
        </activity>
        <activity
            android:name=".ListItemPlayer"
            android:label="@string/title_activity_list_item_player" />
        <activity
            android:name=".PlayerLooses"
            android:label="@string/title_activity_player_looses" />
        <activity
            android:name=".SinglePlayerOverview"
            android:label="@string/title_activity_single_player_overview"
            android:parentActivityName=".PlayerManagement">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.PlayerManagement" />
        </activity>
        <activity
            android:name=".PlayerAdderToEvening"
            android:label="@string/title_activity_player_adder_to_evening" />
        <activity
            android:name=".StatisticOptions"
            android:label="@string/title_activity_statistic_options"
            android:parentActivityName=".Statistic">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.Statistic" />
        </activity>
        <activity
            android:name=".SingleLocation"
            android:label="@string/title_activity_single_location"
            android:parentActivityName=".LocationManagement">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.LocationManagement" />
        </activity>
        <activity
            android:name=".Records"
            android:label="@string/title_activity_records"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".Participations"
            android:label="@string/title_activity_participations"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" />
        </activity>
        <activity
            android:name=".Chips"
            android:label="@string/title_activity_chips"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.markusdamm.pokerapp.MainActivity" /></activity>
    </application>

</manifest>